@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: "Roboto", sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.heder .nav .menu .resume a {
  border: none;
  padding: 10px 20px;
  background-color: #ffd400;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1.5rem;
}

.footer .derecho, .footer .centro, .footer .izquierdo {
  width: 100%;
  width: 100%;
  background-color: #02081e;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 70px 0 70px 0;
}

.footer .derecho h3, .footer .centro h3, .footer .izquierdo h3 {
  font-weight: bolder;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  width: 20%;
}

.heder .nav {
  width: 100%;
  height: 10rem;
  background-color: #02081e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
.heder .nav .logo a img {
  width: 6rem;
}
.heder .nav .menu {
  color: white;
  display: flex;
  align-items: center;
}
.heder .nav .menu ul {
  font-family: "Roboto Mono", monospace;
}
.heder .nav .menu ul a {
  font-size: 1.5rem;
  margin: 0 15px 0 0;
}
.heder .nav .menu ul a:hover {
  color: #036;
  background-color: #fff;
  padding: 5px;
}
.heder .nav .menu .resume a {
  color: #000a2f;
  font-weight: bold;
}
.heder .navCelu {
  display: none;
}

.footer {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .izquierdo {
  background-color: #02081e;
}
.footer .izquierdo nav ul {
  margin-top: 10px;
}
.footer .centro {
  background-color: #ffd400;
  color: #000a2f;
}
.footer .centro h3 {
  border-bottom: 1px solid #02081e;
}
.footer .centro p {
  margin: 20px 0;
}
.footer .derecho {
  background-color: #02081e;
}
.footer .derecho img {
  width: 30px;
  margin: 5px auto;
}

.mainIndex .sectionIndex-uno {
  background-image: url(../assets/banner-home.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.mainIndex .sectionIndex-uno div .sectionIndex-uno__titulo {
  font-weight: 700;
  color: white;
  font-size: 6.4rem;
  text-align: center;
  -webkit-animation-name: animacionTexto;
          animation-name: animacionTexto;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  margin: 0 50px;
  line-height: 90px;
}
@-webkit-keyframes animacionTexto {
  from {
    opacity: 0;
    font-size: 5.4rem;
  }
  to {
    opacity: 1;
    font-size: 6.4rem;
  }
}
@keyframes animacionTexto {
  from {
    opacity: 0;
    font-size: 5.4rem;
  }
  to {
    opacity: 1;
    font-size: 6.4rem;
  }
}
.mainIndex .sectionIndex-dos {
  margin: 50px 0;
}
.mainIndex .sectionIndex-dos .gridIndexDos {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.mainIndex .sectionIndex-dos .gridIndexDos .sectionIndex-dos-izquierda div img {
  background-color: #bccad3;
  width: 90%;
  margin: 0 auto;
  height: 500px;
  border-radius: 50px;
}
.mainIndex .sectionIndex-dos .gridIndexDos .sectionIndex-dos-derecha div {
  width: 90%;
}
.mainIndex .sectionIndex-dos .gridIndexDos .sectionIndex-dos-derecha div h3 {
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #000a2f;
  padding: 20px 0;
  font-weight: 900;
  line-height: 30px;
}
.mainIndex .sectionIndex-dos .gridIndexDos .sectionIndex-dos-derecha div p {
  font-size: 1.6rem;
  line-height: 20px;
  max-width: 600px;
  margin-bottom: 40px;
}

.mainRecorrido .sectionRecorrido-uno {
  width: 100%;
  min-height: 400px;
  background-color: #02081e;
}
.mainRecorrido .sectionRecorrido-uno h2 {
  font-weight: 900;
  color: white;
  font-size: 8.4rem;
  line-height: 400px;
  text-align: center;
}
.mainRecorrido .sectionRecorrido-dos {
  margin: 50px 0;
}
.mainRecorrido .sectionRecorrido-dos .gridRecorridoDos {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.mainRecorrido .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-izquierda div img {
  background-color: #bccad3;
  width: 90%;
  margin: 0 auto;
  height: 500px;
  border-radius: 50px;
}
.mainRecorrido .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-derecha div {
  width: 90%;
}
.mainRecorrido .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-derecha div h3 {
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #000a2f;
  padding: 20px 0;
  font-weight: 900;
  line-height: 30px;
}
.mainRecorrido .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-derecha div p {
  font-size: 1.6rem;
  line-height: 20px;
  max-width: 600px;
  margin-bottom: 40px;
}

.mainortafolio .sectionPortafolio-uno {
  width: 100%;
  min-height: 400px;
  background-color: #02081e;
}
.mainortafolio .sectionPortafolio-uno h2 {
  font-weight: 900;
  color: white;
  font-size: 8.4rem;
  line-height: 400px;
  text-align: center;
}
.mainortafolio .sectionPortafolio-dos {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 32rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
.mainortafolio .sectionPortafolio-dos div img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainServicios .sectionServicios-uno {
  width: 100%;
  min-height: 700px;
  background-color: #02081e;
}
.mainServicios .sectionServicios-uno h2 {
  font-weight: 900;
  color: white;
  font-size: 8.4rem;
  line-height: 400px;
  text-align: center;
}
.mainServicios .sectionServicios-uno .servicios {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 30px;
}
.mainServicios .sectionServicios-uno .servicios .izquierda {
  background-color: #ffd400;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
}
.mainServicios .sectionServicios-uno .servicios .izquierda h3 {
  font-weight: 900;
  color: #02081e;
  font-size: 5.4rem;
  line-height: 200px;
  text-align: center;
}
.mainServicios .sectionServicios-uno .servicios .derecha {
  background-color: #ffd400;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
}
.mainServicios .sectionServicios-uno .servicios .derecha h3 {
  font-weight: 900;
  color: #02081e;
  font-size: 5.4rem;
  line-height: 200px;
  text-align: center;
}
.mainServicios .sectionRecorrido-dos {
  margin: 50px 0;
}
.mainServicios .sectionRecorrido-dos .gridRecorridoDos {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.mainServicios .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-izquierda div img {
  background-color: #bccad3;
  width: 90%;
  margin: 0 auto;
  height: 500px;
  border-radius: 50px;
}
.mainServicios .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-derecha div {
  width: 90%;
}
.mainServicios .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-derecha div h3 {
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #000a2f;
  padding: 20px 0;
  font-weight: 900;
  line-height: 30px;
}
.mainServicios .sectionRecorrido-dos .gridRecorridoDos .sectionRecorrido-dos-derecha div p {
  font-size: 1.6rem;
  line-height: 20px;
  max-width: 600px;
  margin-bottom: 40px;
}

.sectionContacto-uno {
  width: 100%;
  min-height: 400px;
  background-color: #02081e;
}
.sectionContacto-uno h2 {
  font-weight: 900;
  color: white;
  font-size: 8.4rem;
  line-height: 400px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .heder .nav {
    display: none;
  }
  .heder .navCelu {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #02081e;
  }
  .heder .navCelu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: space-around;
    color: white;
  }
  .heder .navCelu ul li {
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: 1px solid #171b2c;
    border-width: 0 1px 0 0;
  }
  .heder .navCelu ul li a img {
    margin: 0 auto;
    padding-top: 15px;
    width: 20px;
  }
  .mainIndex .sectionIndex-dos .gridIndexDos {
    grid-template-columns: 1fr;
  }
  .mainRecorrido .sectionRecorrido-dos .gridRecorridoDos {
    grid-template-columns: 1fr;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */