$colorFondoOscuro: #02081e;
$colorAzulOscuro: #000a2f;
$colorAmarillo: #ffd400;
$anchoMaximo: 1200px;

%button {
  border: none;
  padding: 10px 20px;
  background-color: $colorAmarillo;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1.5rem;
}
