.mainortafolio {
  .sectionPortafolio-uno {
    width: 100%;
    min-height: 400px;
    background-color: $colorFondoOscuro;
    h2 {
      font-weight: 900;
      color: white;
      font-size: 8.4rem;
      line-height: 400px;
      text-align: center;
    }
  }
  .sectionPortafolio-dos {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    gap: 3rem;
    grid-auto-rows: 32rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    div {
      img{
        width: 100%;
        height: 100%;
        border-radius: 10%;
        object-fit: cover;
      }
    }
  }
}
